main {
  padding: 20px;
  display: flex;
  flex-direction: row; /* Alinhar filtros e produtos lado a lado */
}
.cart-items {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item h3 {
  margin: 0;
  color: #333;
  flex: 1;
}

.cart-item p {
  margin: 2px 0;
  color: #333;
}

.remove-item-button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
  text-align: right;
}

.checkout {
  width: auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
}

button:hover {
  background-color: #45a049;
}

.coupon-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coupon-section input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.coupon-section button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.coupon-section button:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
