.cart-icon-container {
  color: rgb(44, 33, 3);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000; /* Garantir que o ícone esteja acima de outros elementos */
  animation: fadeIn 0.5s ease-in-out;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: rgb(14, 0, 0);
  color: #a00404; /* Melhor visibilidade */
  border-radius: 50%;
  padding: 5px 10px;
  position: static; /* Remover a posição absoluta */
  margin-left: 5px;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color:linear-gradient(#d2b48c, #8b4513);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: auto;
  z-index: 999; /* Garantir que a barra lateral esteja acima de outros elementos */
}

.close-cart-button {
  color: #a00404; 
  width: 2%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
}

.cart-item-details p {
  margin: 2px 0;
}

.remove-item-button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
}

.finalizar-compra {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.finalizar-compra:hover {
  background-color: #45a049;
}

/* Adicionando animação de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
