.checkout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.order-details, .shipping, .order-total {
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details li {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
}

.order-details img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.order-details .item-info {
  flex-grow: 1;
}

.order-details .item-actions {
  display: flex;
  align-items: center;
}

.order-details .item-actions button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.order-details .item-actions button:hover {
  background-color: #45a049;
}

.cep-input, .calculate-shipping-button, .login-button, .confirm-checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.cep-input {
  margin-bottom: 10px;
}

.calculate-shipping-button:hover, .login-button:hover, .confirm-checkout-button:hover {
  background-color: #45a049;
}

.shipping-details {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  color: #333;
}

/* Adicionando animação de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
