/* src/assets/styles/header.css */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding: 10px 0;
  margin-left: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.buttonlogout{
  background-color: #0056b3; /* Melhor visibilidade */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px solid blue;
  background-color: blue;
}

.buttonlogout:hover {
  background-color: #004494; /* Adiciona um efeito de hover */
}
.Username{
  border-radius: 2px solid #fff;

}
