/* src/assets/styles/header.css */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userNameIcon {
  background: linear-gradient(135deg, #d4a373, #8c6239); /* Gradiente de cores estilo café */
  color: white;
  border-radius: 50%; /* Formato circular */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
  width: 60px;
  height: 60px; /* Garantir proporção circular */
  position: relative;
}

.userNameIcon::after {
  content: '☕'; /* Adiciona um ícone de café como detalhe */
  position: absolute;
  bottom: -8px;
  right: -8px;
  font-size: 14px;
  background: white;
  color: #8c6239;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.userName {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.buttonlogout {
  background-color: #0056b3; /* Melhor visibilidade */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
}

.buttonlogout:hover {
  background-color: #004494; /* Adiciona um efeito de hover */
}
