.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

form label {
    text-align: left;
}

form input, form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}
.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form img.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form label {
    text-align: left;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background: #0056b3;
}

.additional-links {
    margin-top: 20px;
}

.additional-links a {
    color: #007BFF;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.additional-links p {
    margin: 10px 0;
}

.social-login {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.social-login.google {
    background: #db4437;
    color: white;
}

.social-login.facebook {
    background: #3b5998;
    color: white;
}
.criarconta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}