* Navbar Styles */
.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a2b826;
    padding: 10px 20px;
    
}

.App-logo img{
    height: 350px;
    width: 350px;
    justify-content: right;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}
