* Navbar Styles */
.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a2b826;
    padding: 10px 20px;
    
}

.App-logo img{
    height: 350px;
    width: 350px;
    justify-content: right;
}
