/* Navbar Styles */
header.Navbar {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}
.App-logo h2 {
    font-size: 1.5em;
    color: white;
    margin: 0;
}
.App-logo {
    justify-content: center;
    align-items: center;
    height: 270px;
}
.App-logo img{
    display: flex;
    height: 180px;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    color: white;
}
.linksnavbar{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.linksnavbar a{
  color: #f0f0f0; /* Melhor visibilidade */
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px; /* Adiciona espaço entre os links */
}

.linksnavbar a:hover {
    color: #ff9900; /* Adiciona um efeito de hover */
}
