.pedidos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #f9f9f9, #d2b48c, #8b4513);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedido {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.pedido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pedido-detalhes {
  margin-top: 10px;
}

.pedido-detalhes ul {
  list-style-type: none;
  padding: 0;
}

.pedido-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pedido-detalhes img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.no-pedidos {
  background-color: #fff;
  color: #8B4513;
  padding: 20px;
  border: 1px solid #A0522D;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.pedido-item {
  width: 100%;
  max-width: 300px;
  height: 300px; /* Definir altura fixa */
  background: linear-gradient(to bottom, #d2b48c, #8b4513); /* Gradiente entre marrom claro e marrom escuro */
  border: 2px solid black; /* Bordas pretas */
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}