
.pedidos-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pedido {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pedido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pedido-detalhes {
  margin-top: 10px;
}

.pedido-detalhes ul {
  list-style-type: none;
  padding: 0;
}

.pedido-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pedido-detalhes img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}