main {
    display: flex;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter select, .filter input {
    padding: 10px;
    margin-right: 10px;
}

.filter-panel {
    width: 250px;
    margin-right: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-panel h3 {
    margin-bottom: 20px;
    color: #333;
}

.filter-panel select, .filter-panel input, .filter-panel label {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.filter-panel label {
    display: flex;
    align-items: center;
}

.filter-panel label input {
    margin-right: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.product-item {
    width: 100%;
    max-width: 300px;
    height: 300px; /* Definir altura fixa */
    background: linear-gradient(to bottom, #d2b48c, #8b4513); /* Gradiente entre marrom claro e marrom escuro */
    border: 2px solid black; /* Bordas pretas */
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
    animation: fadeIn 0.5s ease-in-out;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.product-item h3 {
    margin: 10px 0;
    color: #fff;
}

.product-item p {
    color: #fff;
}

.product-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #45a049;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #888;
    font-size: 16px;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #218838;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
